.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* Light mode background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }
  
  .navbar.dark {
    background-color: #333; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
  }
  
  .logo img {
    height: 40px; /* Adjust as needed */
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: inherit;
  }
  
  .mode-toggle input[type="checkbox"] {
    display: none;
  }
  
  .mode-toggle label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc; /* Toggle background color */
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .mode-toggle label:before {
    content: '';
    position: absolute;
    width: 20px; /* Adjusted width */
    height: 20px; /* Same height as the container */
    background-color: #fff; /* Toggle button color */
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  }
  
  .mode-toggle input[type="checkbox"]:checked + label {
    background-color: #86d993; /* Toggle background color when checked */
  }
  
  .mode-toggle input[type="checkbox"]:checked + label:before {
    transform: translateX(20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Retain shadow when checked */
  }
  
  /* Media query for mobile responsiveness */
  @media only screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 10px;
      align-items: stretch;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .nav-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .mode-toggle {
      margin-top: 10px;
      align-self: center;
    }
  
    .mode-toggle label {
      width: 30px;
      height: 15px;
    }
  
    .mode-toggle label:before {
      width: 15px;
      height: 15px;
    }
  }